body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 800px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
body,
html {
  height: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  color: inherit;
  background-color: #f9f9f9;
  text-align: center;
  background-position-y: 220%;
  background-image: url("https://icdn2.digitaltrends.com/image/vw-electric-id-buzz-concept-beach-1500x1000.jpg")
}

h5 {
  font-size: 1em;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

.legend {
  padding: 6px 8px;
  font: 10px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 60px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}