body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 800px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
body,
html {
  height: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  color: inherit;
  background-color: #f9f9f9;
  text-align: center;
  background-position-y: 220%;
  background-image: url("https://icdn2.digitaltrends.com/image/vw-electric-id-buzz-concept-beach-1500x1000.jpg")
}
