<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Florida's EVs (^_^)</title>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link rel="stylesheet" href="static/css/style.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- JavaScript Library: IfVisable.js -->
    <script src="static/js/ifvisible.js"></script>
    <script type="text/javascript">
        // Calculates idle time
        function d(el){
            return document.getElementById(el);
        }

        // Sets idle time before sleeping
        ifvisible.setIdleDuration(6);

        // Update page title on idle
        ifvisible.idle(function(){
            d("title").innerHTML = "Florida's EVs (-_-) Zzzz....";
            document.body.style.opacity = 0.5;
        });
        // Update page title on wake up
        ifvisible.wakeup(function(){
            d("title").innerHTML = "Florida's EVs (O_o) You're back!";
            document.body.style.opacity = 1;
        });
    </script>



</head>
<body>
    <div class="jumbotron bg-cover text-white">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Florida Electric Vehicles</h1>
            <p class="font-italic mb-0">Use the interactive charts below to explore the dataset</p>
            <!-- <a href="#" role="button" class="btn btn-primary px-5">See All Features</a> -->
        </div>
    </div>
    <div class="container px-0">
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h5>Select Year: <select id="selYear" onchange="eventChanged(this.value)"></select></h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h5>Select County: <select id="selCounty" onchange="eventChanged(this.value)"></select></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div id="bar" class=""></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <!-- map div -->
            <div id="map"></div>
          </div>
          <div class="col-md-4" id="pie">
            <div>
              <h5>Additional Resources</h5>
            </div>
            <ul>
              <li><a href="https://youmatter.world/en/are-electric-cars-eco-friendly-and-zero-emission-vehicles-26440/">Are Electric Cars Really Better?</a></li>
              <li><a href="https://www.forbes.com/sites/jamesellsmoor/2019/05/20/are-electric-vehicles-really-better-for-the-environment/?sh=7ad74fc076d2">Are Electric Cars Really Better for the Environment?</a></li>
              <li><a href="https://southeastfloridaclimatecompact.org/wp-content/uploads/2020/06/EV-Guidance-06-12-2020.pdf">Electrical Vehicles and EV Infrastructure</a></li>
              <li><a href="https://cleanenergy.org/wp-content/uploads/Transportation-Electrification-in-Florida.pdf">Transportation Electrification in Florida</a></li>
              <li><a href="https://www.driveelectricflorida.org/">Drive Electric Florida</a></li>
              <li><a href="https://www.caranddriver.com/research/a32781943/electric-cars-vs-gas-cars">Electric Cars Vs. Gas Cars: Everything You Need to Know</a></li>
              <li><a href="https://ghgdata.epa.gov/ghgp/main.do#">EPA Emission Data</a></li>
            </ul>
          </div>
        </div>
    </div>

    
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- D3 JS -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

<!-- Leaflet-Choropleth JavaScript -->
<script type="text/javascript" src="static/js/choropleth.js"></script>


<!-- API key -->
<script type="text/javascript" src="static/js/config.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<!-- <script type="text/javascript" src="static/app2.js"></script> -->
<!-- <script type="text/javascript" src="static/js/bar.js"></script> -->
<!-- <script type="text/javascript" src="static/js/pie.js"></script>
<script type="text/javascript" src="static/js/flo_map.js"></script> -->

</body>
</html>